@using Microsoft.AspNetCore.Components.Web
@code{

    public enum ButtonMode
    {
        Button,
        Anchor
    }

}
@if (IsAnchor)
{
    <a
        class="@(UsePresetClass ? CssClass : Class) esc"
        href="@(IsAnchor ? Href : null)"
        target="@(IsAnchor ? Target : null)"
        disabled="@(IsButton ? Disabled : null)"
        @onclick="@OnClick"
        @onclick:preventDefault="@(!IsAnchor || string.IsNullOrEmpty(Href))"
        @attributes="AdditionalAttributes">
        @ChildContent
    </a>
}
else
{
    <button
        class="@(UsePresetClass ? CssClass : Class)"
        href="@(IsAnchor ? Href : null)"
        target="@(IsAnchor ? Target : null)"
        disabled="@(IsButton ? Disabled : null)"
        @onclick="@OnClick"
        @onclick:preventDefault="@(!IsAnchor || string.IsNullOrEmpty(Href))"
        @attributes="AdditionalAttributes">
        @ChildContent
    </button>
}

@code {
    
    [Parameter] public ButtonMode Mode { get; set; } = ButtonMode.Button;
    
    [Parameter] public string? Href { get; set; }
    
    [Parameter] public string? Target { get; set; }

    [Parameter] public bool Disabled { get; set; }

    [Parameter] public bool UsePresetClass { get; set; } = true;

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private bool IsButton => Mode == ButtonMode.Button;
    private bool IsAnchor => Mode == ButtonMode.Anchor;

    private string CssClass
    {
        get
        {
            var baseClasses = "btn-primary";
            
            if (!string.IsNullOrEmpty(Class))
                baseClasses += " " + Class;
            
            return baseClasses;
        }
    }
}